.circuit-wrapper {
    width: 95%;
    height: 300px;
    display: flex;
    margin-bottom: 10px;
}
.circuit-container h1 {
    
}
.circuit-wrapper b{
    font-size: 25px;
}
.circuit-list ul {
    width: 100%;
    background-image: url(https://ferret.akamaized.net/images/59e76165fafbd876ce00035c/original.jpg?1508335973);
    border: 1px solid;
}
.circuit-wrapper li {
    font-size: 20px;
    margin-top: 8px;
}
.circuit-container h2 {
    text-align: center;
    border-top: 2px solid #c0c0c0;
}
