.circuit-wrapper {
    width: 85%;
    height: 300px;
    display: flex;
    margin-bottom: 10px;
}
.circuit-wrapper b{
    font-size: 25px;
}
.circuit-wrapper li {
    font-size: 25px;
}
.circuit-container h2 {
    text-align: center;
    padding-top: 25px;
    margin-top: 40px;
    border-top: 2px solid #c0c0c0;
}