.review-container {
    padding: 5px;
    border: 1px solid #696969;
    border-radius: 15px;
    background-color: #f8f8ff;
    margin-bottom: 5px;
}
.coment-container {
    width: 80%;
    margin: 0;
}
.review-container p {
    text-decoration: underline;
    color: #00ecff;
}