body {
    background-color: #eeeeee;
}

.logo {
    font-family: serif;
}

.wrapper {
    padding: 0 15px;
}

.toppage-img {
    position: relative;
    opacity: 0.8;
}

.toppage-img h1 {
    text-align: center;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #f0f8ff;
    font-size: 85px;
    font-family: serif;
}

.toppage-container img {
    width: 100%;
    height: 500px;
}

.toppage-container h2 {
    text-align: center;
}

.region {
    border: 2px solid;
}
.region h3 {
    margin-top: 20px;
}

.region li {
    font-size: 20px;
    padding: 3px;
    margin-left: 40px;
}